@charset "UTF-8";
.header{
	padding: 0 5em 0 5em;
	height: 35px;
	background: #009b72;
	line-height: 35px;
	font-size: 13px;
	text-align: right;
}
.header a {
	color: #fff;
}
.header li{
	display: inline-block;
	border-left: 1px solid #47b488;
	padding:0px 20px;
}
.header li:hover{
	background: #47b488;
}
.headerL{
	float: left;
	}

.seacher{
	margin-top: 5px;
	width: 27px;
    height: 32px;
	line-height: 35px;
	background: url(../images/first1.png) no-repeat ;
	display: inline-block;
	vertical-align: middle;
}
.headerR{
	display: inline-block;
}

.logo{
	margin-left: 100px;
	width: 190px;
	height: 78px;
	background: url(../images/1.png) no-repeat center;
	float: left;
}

.navs{
	padding: 0 5em 0 5em;
	height: 78px;
	line-height: 70px;
	background: #fff;
	line-height: 35px;
	font-size: 13px;
	text-align: right;
    box-shadow:0 3px 3px #e1e1e1;
}
.navs li{
	display: inline-block;
	padding: 21px 21px;
}
.navs a{
	font-size: 15px;
	color: #7b7b7b;
	font-weight: bold;
}
.navs a:visited{
	padding-bottom: 2px;border-bottom:2px solid #009b72;
	line-height:150%;
}
.navs a:hover{
	color:#393939;
}
.banner{
	width: 1200px;
	height:720px;
	overflow:hidden;
	position:relative;
	margin: 5px  auto 0;
}
/*.banner .img{ width:100%;height:720px; position:absolute; left:0px; top:0;}
*/
.imgs {
	height: 720px;
	position: absolute;
}
.banner img{
	width: 1200px;
	height:720px;
}


.banner .imgs li{ width: 1200px;float:left;}

.banner .num{ position:absolute; width:100%; bottom:10px; left:0; text-align:center; font-size:0px;}
.banner .num li{ width:10px;height:10px; background:#888; border-radius:50%; display:inline-block; margin:0 3px; cursor:pointer;}
.banner .num li.on{ background:#F60;}

.banner .btn{ width:30px; height:50px; background:rgba(0,0,0,0.5); position:absolute; top:50%; margin-top:-25px; cursor:pointer; text-align:center; line-height:50px; color:#fff; font-size:40px; font-family:"宋体"; display:none;}
.banner:hover .btn{ display:block;}

.banner .btn_l{ left:0;}
.banner .btn_r{ right:0;}
